<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>boardList</title>
</head>
<body>

<div class="container">
  <h2>boardList</h2>
        
  <table class="table">
    <thead>
		<tr>
			<td>번호</td>
			<td>제목</td>
			<td>이름</td>
			<td>날짜</td>
			<td>삭제</td>
			<td>수정</td>
		</tr>
		    </thead>
    <tbody>   
		<tr th:each="m : ${list}">
			<td th:text="${m.boardNo}"></td>
			<td><a th:href="@{'/' + '?boardNo=' + ${m.boardNo}}"th:text="${m.boardTitle}"></a></td>
			<td th:text="${m.boardUser}"></td>
			<td th:text="${m.boardDate}"></td>
			<td><a th:href="@{'/boardRemove' + '?boardNo=' + ${m.boardNo}}">삭제</a></td>
			<td><a th:href="@{'/modifyBoard' + '?boardNo=' + ${m.boardNo}}">수정</a></td>
		</tr>
	    </tbody>
  </table>
</div>

	<a th:href="@{/boardList(currentPage=0)}"><button th:text="처음"></button></a>

	<a th:if="${currentPage > 0}"
		th:href="@{/boardList(currentPage=${currentPage-1})}"><button
			th:text="이전"></button></a>

	<a th:if="${lastPage > currentPage}"
		th:href="@{/boardList(currentPage=${currentPage+1})}"><button
			th:text="다음"></button></a>
			
	<a th:href="@{/boardList(currentPage=${lastPage})}"><button
			th:text="끝"></button></a>
	

	<a th:href="@{/boardAdd}"><button th:text="글등록하기"></button></a>
</body>
</html>