<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bono.board.mapper.BoardMapper">
	<select id="selectBoardOne" parameterType="int" resultType="com.bono.board.vo.Board">
		SELECT
			board_no AS boardNo,
			board_title AS boardTitle,
			board_user AS boardUser,
			board_date AS boardDate
		FROM board
		WHERE board_no = #{boardeNo}
	</select>
	
	<!--
		<resultMap type="" id=""></resultMap>으로 미리 일치시켜준 후 resultType에 resultMap의 id를 넣어주는 방법도 있음 
	-->
	
	<select id="selectBoardList" parameterType="java.util.Map" resultType="com.bono.board.vo.Board">
		SELECT
			board_no AS boardNo,
			board_title AS boardTitle,
			board_user AS boardUser,
			board_date AS boardDate
		FROM board
		ORDER BY board_date DESC
		LIMIT #{currentPage}, #{rowPerPage}
	</select>
	
	<select id="selectBoardCount" resultType="int">
		SELECT
			count(*)
		FROM board
	</select>
	
	<insert id="insertBoard" parameterType="com.bono.board.vo.Board">
		INSERT INTO board (
			board_pw,
			board_title,
			board_content,
			board_user,
			board_date
		) 
		VALUES (
			#{boardPw}, 
			#{boardTitle},
			#{boardContent},
			#{boardUser},
			<!-- type이 date일경우 curdate(),  datetime일경우 now()-->
			curdate()
		)
	</insert>
	
	<delete id="deleteBoard" parameterType="com.bono.board.vo.Board">
		DELETE
		FROM board
		WHERE board_no = #{boardNo}
		
	</delete>
	
	<update id="updateBoard" parameterType="com.bono.board.vo.Board">
		UPDATE board SET
			board_title = #{boardTitle},
			board_content = #{boardContent},
			board_user = #{boardUser}
		WHERE board_no = #{boardNo}
	</update>
</mapper>